.character-list {

    &__card {
        padding: 10px;

        &__remove {
            position: absolute;
            cursor: pointer;
        }
        &__title {
            text-align: center;
            font-weight: bold;
            margin: 30px 0 20px 0;
        }
    }

    &__buttons__container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    &__button {
        margin: 0 10px;
    }

    &__export {
        margin-top: 50px!important;
        display: flex;
        justify-content: center;
    }
}